html {
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 3rem;
}

div {
  border-radius: 1.6rem;
  text-align: center;
}

header {
  display: flex;
  box-sizing: border-box;
}

h1 {
  margin-right: 2rem;
  color: #c8c8c8;
  font-size: 3.2rem;
}

a {
  text-decoration: none;
}
.selected {
  color: #000000;
}
.full-size,
.half-size-row,
.one-third-row,
.one-fourth-row {
  margin-bottom: 2rem;
}

.full-size {
  background-color: #f5d114;
  padding: 3rem 0;
  font-size: 2.4rem;
  color: #ffffff;
}

.half-size-row,
.one-third-row,
.one-fourth-row {
  display: flex;
  justify-content: space-between;
}
.half-size-box {
  background-color: #31c65b;
  color: #ffffff;
  padding: 3rem;
  font-size: 1.6rem;
}

.one-third-box {
  background-color: #145fcf;
  color: #ffffff;
  padding: 2rem;
  font-size: 1.6rem;
}

.one-fourth-box {
  background-color: #df3636;
  color: #ffffff;
  padding: 1rem;
  font-size: 1.4rem;
}
